<!-- <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" id="menu-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span id="menuTitle">SPANDAN 2K24</span>

    <a mat-button routerLink="/" class="top-menu-item">HOME</a>
    <a mat-button routerLink="/events" class="top-menu-item">EVENTS</a>
    <a mat-button routerLink="/gallery" class="top-menu-item">GALLERY</a>
    <a mat-button routerLink="/contact" class="top-menu-item">CONTACT</a>

</mat-toolbar>
 -->
