.event-header{
    text-align: center;
    font-size: 2rem;
    padding: 5px;
    color: #FFC107;
    font-weight: bold;
}
.container{
    padding: 20px;
}
img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.responsive-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 20px;
}
.event-card-content{
    margin: 0.5rem;
}
.buttons{
    display: grid;
}
.buttons button{
    margin: 2px;
}