<ng-particles [id]="id" [options]="particlesOptions" [particlesInit]="particlesInit"
  (particlesLoaded)="particlesLoaded($event)"></ng-particles>

<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" id="menu-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span id="menuTitle">SPANDAN 2K24</span>

  <a mat-button routerLink="/" class="top-menu-item">HOME</a>
  <a mat-button routerLink="/events" class="top-menu-item">EVENTS</a>
  <!-- <a mat-button routerLink="/gallery" class="top-menu-item">GALLERY</a>
  <a mat-button routerLink="/contact" class="top-menu-item">CONTACT</a> -->

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="60" mode="side">
    <div class="side-nav-items">
      <div>
        <a (click)="sidenav.close()" mat-button routerLink="/" class="side-menu-item"><mat-icon>home</mat-icon>HOME</a>
      </div>
      <div>
        <a (click)="sidenav.close()" mat-button routerLink="/events"
          class="side-menu-item"><mat-icon>event</mat-icon>EVENTS</a>
      </div>
      <!-- <div>
        <a (click)="sidenav.close()" mat-button routerLink="/gallery"
          class="side-menu-item"><mat-icon>photo_camera</mat-icon>GALLERY</a>
      </div>
      <div>
        <a (click)="sidenav.close()" mat-button routerLink="/contact"
          class="side-menu-item"><mat-icon>people</mat-icon>CONTACT</a>
      </div> -->
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>